/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes. Review Lesson 1.3
if you need a refresher about how to do this.

* {
  border: solid;
}
*/

body {
  padding: 20px 10px;
  font-family: Helvetica;
  max-width: 2000px;
  margin: 0 auto; /* The 0 refers to the top and bottom margins and the "auto" automatically */
  font-size: 1.4em;
}

h1 {
  text-align: center;
}

.top {
  display: -webkit-flex;
  display: flex;
}

.title {
}

.image {
}

.lesson {
  background-color: #3B5998;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin: 10px auto;
}

.concept {
  background-color: #d7ddea;
  padding: 4px;
  margin: 10px;
  border-radius: 4px;
  color: #000000;
}

.concept-title {
  font-size: 28px;
  margin: 8px;
  text-align: center;
  color: #000000;
}

.concept-description {
  font-weight: lighter;
  margin: 6px;
}

.concept-picture {
  text-align: center;
  font-weight: lighter;
  margin: 6px;
}
